<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://d.gooddriver.cn/download/ipa/gooddriver.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://d.gooddriver.cn/images/iOS-57X57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://d.gooddriver.cn/images/iOS-114X114.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>comit.GoodDriver</string>
				<key>bundle-version</key>
				<string>3.0.9</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>优驾公测版</string>
				<key>title</key>
				<string>优驾</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
